*{
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 7%;
    padding-right: 7%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: white;
  }

h1{
    color: black;   
    text-transform: uppercase; 
    text-align: center;
}

button{
    background-color: white;
    border: 1px solid  ;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}

button:hover{
    background-color: cyan;
}

input{
    padding: 10px;
    font-size: 15px;
    width: 30%;
    text-align: center;
}

.div1{
    border: 1px solid;
    padding-top: 5px;  
    padding-bottom: 1px;
}