

form{
    text-align: center;
}

body{
    background-color: lightblue;
    color: black;
}

.signupform{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

.signupform label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signupform button{
   font-weight: bold;
   border-radius: 0%; 
   color: black;
   outline-style: auto;
}

.signupform button:hover{
    color: blue;
}

.signupform h1{
    text-align: center;
}