.box{
    width: fit-content;
    height: fit-content;
    margin: 10px;
    padding: 25x;
    border: solid 10px red;
    background-color: lightpink;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 35px;
}


.container{
    background-color: antiquewhite;
    color: black;
    border: solid 5px red;
}

p{
    color: black;
}