

form{
    text-align: center;
}

body{
    background-color: lightblue;
    color: black;
}

.signinform{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

.signinform label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signinform button{
   font-weight: bold;
   border-radius: 0%; 
   color: black;
   outline-style: auto;
}

.signinform button:hover{
    color: blue;
}

.signinform h1{
    text-align: center;
}